@model IEnumerable<ProductImage>

@if (Model != null && Model?.Count() > 0)
{
    foreach (ProductImage productImage in Model)
    {
        <div class="col-lg-2 mr-3" style="position: relative;">
            <img style="width: 200px;height: 200px;padding: 10px;border-radius: 30px;" src="~/assets/img/product/@productImage.Image" />
            <a asp-action="deleteimage" asp-area="manage" asp-controller="product" asp-route-id="@productImage.ProductId" data-imageId="@productImage.Id" style="position: absolute;top: 10%;right: -5%;font-size: 12px;" class="btn btn-danger deleteImage">X</a>
        </div>
    }
}